<div>
  <table class="table table-striped">
    <thead>
      <th>Title</th>
      <th>Conference</th>
      <th>Place</th>
      <th>Date</th>
      <th>Author</th>
    </thead>
    <tbody>
      <tr ng-repeat="conferenceArticles in conference_articles">
        <td>{{ conferenceArticles.title }}</td>
        <td>{{ conferenceArticles.conference }}</td>
        <td>{{ conferenceArticles.place }}</td>
        <td>{{ conferenceArticles.date }}</td>
        <th>{{ conferenceArticles.author }}</th>
      </tr>
    </tbody>
  </table>
</div>