<div>
  <table class="table table-striped">
    <thead>
      <th>Title</th>
      <th>Journal</th>
      <th>Pags</th>
      <th>Number</th>
      <th>Volume</th>
      <th>Year</th>
      <th>Editorial</th>
      <th>Author</th>
      <th>Category Colciencias</th>
      <th>Category SjR-JcR</th>
    </thead>
    <tbody>
      <tr ng-repeat="journalArticles in journal_articles">
        <td>{{ journalArticles.title }}</td>
        <td>{{ journalArticles.journal }}</td>
        <td>{{ journalArticles.pages }}</td>
        <td>{{ journalArticles.number }}</td>
        <td>{{ journalArticles.volume }}</td>
        <td>{{ journalArticles.year }}</td>
        <td>{{ journalArticles.editorial }}</td>
        <td>{{ journalArticles.author }}</td>
        <td>{{ journalArticles.colciencias }}</td>
        <td>{{ journalArticles.sjRJcR }}</td>
      </tr>
    </tbody>
  </table>
</div>