<div>
    <form>
        <div class="form-group">
            <label for="exampleSelect2">Select Document Type</label>
            <select class="form-control" id="TypeSelect" ng-model="query.Document">
                <option value="Any">Any</option>
                <option value="Book">Book</option>
                <option value="BookChapter">Book Chapter</option>
                <option value="BookEdition">Book Edition</option>
                <option value="Journal">Journal Article</option>
                <option value="Conference">Conference Article</option>
                <option value="Report">Technical Report</option>
                <option value="Patent">Patent</option>
                <option value="Thesis">Thesis</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleSelect2">Select Filter Type</label>
            <select class="form-control" id="FiltSelect" ng-model="query.Filter">                    
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="year">Year</option>
            </select>
        </div>
        <button type="submit" ng-click="fillAutocomplete()" class="btn btn-primary">NEXT</button>

        <!--INVISIBLE TILL BUTTON NEXT IS PRESSED-->
        <div ng-show="state" >
            <div class="ui-widget">
                <label for="tags">Search:</label>
                <input id="tags">
            </div>
            <a class="btn btn-warning" ng-click="sendQuery()"
                ng-href="#!/SearchResult/doctype/{{Doc}}/filtType/{{Filt}}/tag/{{Tag}}">SEND</a>
        </div>
      </form>
</div>