<div>
  <table class="table table-striped">
    <thead>
      <th>Title</th>
      <th>Tutor</th>
      <th>Type</th>
      <th>University</th>
      <th>Year</th>
      <th>Author</th>
    </thead>
    <tbody>
      <tr ng-repeat="thesis in thesis">
        <td>{{ thesis.title }}</td>
        <td>{{ thesis.tutor }}</td>
        <td>{{ thesis.type }}</td>
        <td>{{ thesis.university }}</td>
        <td>{{ thesis.year }}</td>
        <td>{{ thesis.author }}</td>
      </tr>
    </tbody>
  </table>
</div>