<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Sistemic Publications Admin</h1>
        <p>
            Welcome to the Sistemic administration panel, select the type of publication 
            that you want to add.
        </p>
    </div>
    <div class="form-group" ng-show="success">
        <div class="alert alert-success">
          <strong>Success!</strong> Data saved!
        </div>  
      </div>
      <div class="form-group" ng-show="danger">
        <div class="alert alert-danger">
          <strong>Error!</strong> Something went wrong with the database.
        </div>
    </div>

<div class="panel-body">